<div class="columns">
  <section class="column is-one-fifth">
    <LeftRail />
  </section>
  <main class="column">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <p class="title">test</p>
              <p class="subtitle">abcd</p>
            </article>
            <article class="tile is-child notification is-warning">
              <p class="title">And</p>
              <p class="subtitle">this is that</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-info">
              <p class="title">Other test</p>
              <p class="subtitle">one two</p>
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/640x480.png">
              </figure>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <p class="title">test has fish, too</p>
            <p class="subtitle">we don't know how many there are</p>
            <div class="content">
              <!-- Content -->
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-success">
          <div class="content">
            <p class="title">Lucy</p>
            <p class="subtitle">is test's cat< /p>
                <div class="content">
                  <!-- Content -->
                </div>
          </div>
        </article>
      </div>
    </div>
  </main>
  <section class="column is-one-fifth">
    <RightRail />
  </section>
</div>